.header{
    height: 60px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    background-color: white;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;

    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgb(212, 212, 212);

    z-index: 100;
}

.header-left{
    display: flex;
    align-items: center;
}

.header-middle{
    flex: 1;
    margin-left: 70px;
    margin-right: 40px;
    max-width: 650px;

    display: flex;
    align-items: center;
    
}

.header-right{
    width: 180px;
    margin-right: 28px;

    display: flex;
    align-items: center;
    justify-content: space-between; /*spreads the icons evenly in the space*/
    flex-shrink: 0; /*stops the spaces between the icons to shrink*/
}

.hamburger-menu{
    height: 28px;
    margin-left: 25px;
    margin-right: 20px;
}

.youtube-logo{
    height: 25px;
}


.search-button{
    height: 42px;
    width: 66px;
    background-color: rgb(241, 241, 241);
    border-width: 1px;
    border-style: solid;
    border-color: rgb(206, 206, 206);
    margin-left: -2px;
    margin-right: 10px;
    border-radius: 2px;
}

.search-icon{
    height: 26px;
    margin-top: 2px;
}

.voice-search-button{
    height: 43px;
    width: 43px;
    border-radius: 25px;
    border: none;
    background-color: rgb(236, 236, 236);
}

.voice-search-icon{
    height: 26px;
    margin-top: 4px;
    margin-left: 1px;
}

.search-bar{
    flex: 1;
    height: 38px;
    padding-left: 5px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(206, 206, 206);
    border-radius: 2px;
    box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.015); /*creates a shadow within the box*/
    width: 0; /*to make it shrink more than normal*/
}

.search-bar::placeholder{
    /*this is how to target place holder on a input elemnet its a sudo class*/
    font-family: Roboto, Arial;
    font-size: 18px;
}

.upload-icon{
    height: 28px;
}
.yt-apps-icon{
    height: 28px;
}
.notifi-icon{
    height: 28px;
}

.notifi-icon-div{
    position: relative;
}
.notifi-count{
    padding-right: 6px;
    padding-left: 6px;
    padding-bottom: 2px;
    padding-top: 2px;
    
    position: absolute;
    top: -5px;
    right: -3px;
    background-color: red;
    color: white;
    font-family: Roboto, Arial;
    font-size: 12px;
    font-weight: 500;
    border-radius: 40px;
}
.current-user-pfp{
    height: 36px;
    border-radius: 20px;
}